<div class="text-center" *ngIf="!loaded">
    <i class="fa fa-spinner fa-spin fa-4x p-2" aria-hidden="true"></i>
</div>

<div *ngIf="loaded">
    <div class="modal-header">
        <h2>
            {{ activeCharacter.name }}
        </h2>
    </div>
    <div class="modal-body text-center">
        <table class="table borderless">
            <tbody>
                <tr>
                    <td class="text-right font-weight-bold">Birth Year</td>
                    <td class="text-left">{{ activeCharacter.birth_year }}</td>
                </tr>
                <tr>
                    <td class="text-right font-weight-bold">Homeworld</td>
                    <td class="text-left">{{ homeworld }}</td>
                </tr>
                <tr>
                    <td class="text-right font-weight-bold">Species</td>
                    <td class="text-left">{{ species }}</td>
                </tr>
                <tr>
                    <td class="text-right font-weight-bold">Starship</td>
                    <td class="text-left">{{ starship }}</td>
                </tr>
                <tr>
                    <td class="text-right font-weight-bold">First Appearance</td>
                    <td class="text-left">{{ first_appearance }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
